python-dotenv==1.0.1
requests==2.31.0
pandas==2.2.2
feedparser==6.0.10
beautifulsoup4==4.12.2
yfinance==0.2.40
numpy==1.26.4
langchain-google-genai==1.0.8
faiss-cpu==1.8.0
langchain-community==0.2.16
langchain==0.2.16